{% extends '::base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<h1>About Budget Banana</h1>

<p>Budget Banana is an accessible budgeting web application with the goal of helping you to get out of debt or improving your financial situation.</p>

<p>Most budgeting software doesn't force you to look at your financial situation and make better choices. It increases your awareness, which is good, but sometimes you just don't know how to stop spinning your wheels and actually make some upward progress.</p>

<p>Budget Banana was created by Brandon Olivares. He is completely blind, so made Budget Banana for both sighted and the visually impaired. It all started out of a sense of frustration.</p>

<p>Some years ago, he was using another budgeting program quite happily. However, eventually the developers of that program made it inaccessible for the blind.</p>

<p>After his complaints went unheard, he decided to make his own budgeting application that would be easy-to-use for both the sighted and visually impaired. Budget Banana is the result.</p>
{% endblock %}
