{% extends '::base.html.twig' %}

{% block title %}Welcome to Budget Banana{% endblock %}

{% block body %}
<h1>Welcome</h1>

<p>Welcome to Budget Banana— the comprehensive, accessible budgeting application on the web.</p>
{% endblock %}
