{% extends '::base.html.twig' %}

{% block title %}Tutorial Chapter 2. The Application{% endblock %}

{% block body %}
<h1>2. The Application</h1>

<p>In <a href="{{ path('tutorials_1') }}">chapter 1</a>, we discussed the four rules of Budget Banana. In this chapter, we'll discuss the application itself and how to use it.</p>

<p>BB's aim is to help you to apply these 4 rules. As such it is rather simple, but the features it does have are powerful.</p>

<p>When you login, there are tabs across the top of each page for each major section of BB. The tabs are:</p>

<ul>
<li>Accounts</li>
<li>Transactions</li>
<li>Budget</li>
<li>Categories</li>
</ul>

<p>The rest of this chapter will discuss these sections at greater length.

<p>
<a href="{{ path('tutorials_1_4') }}" title="Chapter 1.4. Live on Last Month's Income" accesskey="p" rel="prev">&larr; Previous</a>
<a href="{{ path('tutorials_index') }}" accesskey="u" title="Tutorials">Up &uarr;</a>
<a href="{{ path('tutorials_2_1') }}" title="Chapter 2.1. Accounts" accesskey="n" rel="next">Next &rarr;</a>
</p>
{% endblock %}
