{% extends '::base.html.twig' %}

{% block title %}Tutorial Chapter 3. Tips & Tricks{% endblock %}

{% block body %}
<h1>3. Tips & Tricks</h1>

<p>Now that you've learned how to use Budget Banana, and the rules that underlie it, we can get into more advanced usage of BB. This chapter will be dedicated to tips and tricks for using BB in the most efficient way.</p>

<p>
<a href="{{ path('tutorials_2_4') }}" title="Chapter 2.4. Budget" accesskey="p" rel="prev">&larr; Previous</a>
<a href="{{ path('tutorials_index') }}" title="Tutorials" accesskey="u">Up &uarr;</a>
<a href="{{ path('tutorials_3_1') }}" title="Chapter 3.1. Handling Debt" accesskey="n" rel="next">Next &rarr;</a>
</p>
{% endblock %}