{% extends '::base.html.twig' %}

{% block title %}Tutorial Chapter 1. The Methodology{% endblock %}

{% block body %}
<h1>1. The Methodology</h2>

<p>Budget Banana is based on four simple rules. If you can understand the rules and use them properly, then financial success will be much more within your reach. You technically don't even need the software to apply the four rules: it can be done with pencil and paper, or in Excel. In fact, before creating this program, I had a simple excel sheet that I created in about two days that had many of the basic features BB has.</p>

<p>For that reason, BB is simple. It is meant to revolve around the rules. The software just makes it easier to apply them consistently.</p>

<h2>The Four Rules</h2>

<p>The four rules are as follows:</p>

<ol>
<li>Give every dollar a job.</li>
<li>Save for a rainy day.</li>
<li>Roll with the punches.</li>
<li>Live on last month's income.</li>
</ol>

<p>The rest of this chapter will discuss these four rules at length.</p>

<p>
<a href="{{ path('tutorials_index') }}" title="Tutorials" accesskey="p" rel="prev">&larr; Previous</a>
<a href="{{ path('tutorials_index') }}" accesskey="u" title="Tutorials">Up &uarr;</a>
<a href="{{ path('tutorials_1_1') }}" accesskey="n" title="Chapter 1.1. Give Every Dollar a Job" rel="next">Next &rarr;</a>
</p>
{% endblock %}
