{% extends "::base.html.twig" %}

{% block title %}Tutorials{% endblock %}

{% block body %}
<h1>Tutorials</h1>

<p>This tutorial will teach you how to use Budget Banana, and the methodology behind it. Click the links below to get started.</p>
{% endblock %}
