{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Password Already Requested{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<h1>Password Already Requested</h1>
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
